@charset "utf-8";
/* CSS Document */


blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
map :focus{outline:0}

img{display:block;border:0}
li,ol,ul{list-style:none}
.clearfix::after{clear:both;display:block;height:0;visibility:hidden}
.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}
body{background:url(../images/index_bg.jpg) no-repeat;background-repeat:no-repeat;background-position:top center;background-attachment:scroll;background-color:#dcf0fd;margin:0}

/* --TAB按鈕------------------------------------- */

.top_btn{position: fixed;right:20px;top: 20px;width: 150px;height:300px;background: url(../images/tab_bg.png) no-repeat;margin: 0 auto;z-index: 99; padding-top: 12px;; padding-bottom:20px; text-align:center;font-weight:bold;}
.top_btn img { margin-left:37px; }
.top_btn ul { width:115px; margin:0 auto; }
.top_btn li a{ font-family: Microsoft JhengHei; font-size:15px; color:#fff; text-decoration:none; line-height:43px;  letter-spacing:-0.5px;}
.top_btn li a:hover { color:#fffbbf; 		
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		}
.top_btn a:hover img{
		-webkit-filter: brightness(120%);
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;		
}

/* --main 標題---------------------------------------------------------------------------- */

#main{ width:1000px;
       margin:0 auto;
	}
	   

#main .bg{
	width:1000px;
	height: 900px;
	background: url(../images/kv_bg.jpg) no-repeat;
	position: relative;	
	}

#main .logo{
	padding-left: 60px;
	padding-top: 20px;
	box-sizing:border-box;
	}

#main .t1{
	position: absolute;
    top: -10px;
    left: 180px;
    z-index: 1;
	}

#main .t2{
    position: absolute;
    top: 600px;
    left: -40px;
    box-sizing: border-box;
    z-index: 999;	
	}
	
#main .t3{
	position: absolute;
    top: 600px;
    left: 510px;
}	


#main .t4{
    position: absolute;
    top: 210px;
    margin-left: 180px;	
    z-index: 2;	
}
	
	
#main .t5{
    position: absolute;
    top: 350px;
    left: 180px;
}
	
	
#main .t6{
    position: absolute;
    top: 240px;
    left: 18px;
}

#main .t7{
    position: absolute;
    top: 510px;
    left: 320px;
}

#main .t7 img:hover{
	-webkit-filter: brightness(115%);
	/* Firefox */ -webkit-transition:  0.3s; 
	/* Safari and Chrome */ -o-transition:  0.3s; 
	/* Opera */ transition:  0.3s;
}

#main .t8{
    position: absolute;
    top: 180px;
    right: 0px;
}
		
#content{
	width:1000px;
    margin:0 auto;
	margin-top:20px;
}

.title {
	margin:0 auto;
	display:block;
	width:1000px;
}

.product{
	display:block;
	position:relative;
	margin:0 auto;	
}
.product img{	
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;	
	cursor: pointer;		
}
.product img:hover{
	filter: brightness(110%);
	-webkit-transform:translateY(-1px);
	-moz-transform:translateY(-2px);
	-ms-transform:translateY(-2px);
	-o-transform:translateY(-2px);
	transform:translateY(-2px);
}

.more{
    position: absolute;
    float: right;
    top: 317px;
    right: 105px;
	z-index:9;	
}

.more img:hover{
	-webkit-filter: brightness(115%);
	/* Firefox */ -webkit-transition:  0.3s; 
	/* Safari and Chrome */ -o-transition:  0.3s; 
	/* Opera */ transition:  0.3s;
}

.content_bg{
	background-color:#FFF;
	width:458px;
	height:990px;
	padding-top:10px;
}


.event{
	margin:0 auto;
	display:block;
}	

#btn{
    width: 1000px;
    height: 150px;
    margin: 0 auto;
    padding-bottom: 12px;
    clear: both;
}

#btn .btn_a{
	position:absolute;
	margin-left:0px;
}


#btn .btn_b{
	position:absolute;
	margin-left:250px;	
}


#btn .btn_c{
	position:absolute;
	margin-left:490px;	
}

#btn .btn_d{
	position:absolute;
	margin-left:730px;	
}

#btn .btn_a a:hover img ,.btn_b a:hover img ,.btn_c a:hover img ,.btn_d a:hover img{
	-webkit-transform:translateY(-2px); 
	transform:translateY(-2px); 
	/* Firefox */ -webkit-transition:  0.5s; 
	/* Safari and Chrome */ -o-transition:  0.5s; 
	/* Opera */ transition:  0.5s;			
}



/* --footer---------------------------------------------------------------------------- */
		
#footer{
		background-color:#4d1be5;
		width:100%;
		height:62px;
		}

#footer ul{
		width:1000px;
		height:62PX;
		margin:0 auto;
		}
		
#footer li {
		float:left;
	     }

#footer li a.f01 {
		background:url(../images/footer01.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f01:hover {
		background-color:#3907d1;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;				
		 }
		 
#footer li a.f02 {
		background:url(../images/footer02.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f02:hover {
		background-color:#3907d1;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		 }

#footer li a.f03 {
		background:url(../images/footer03.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f03:hover {
		background-color:#3907d1;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		 }
		 
#footer li a.f04 {
		background:url(../images/footer04.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f04:hover {
		background-color:#3907d1;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		 }
		 
#footer li a.f05 {
		background:url(../images/footer05.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f05:hover {
		background-color:#3907d1;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		 }
		 
		 
/*------------動畫------------*/	

.move-action{animation-name:move-action;-webkit-animation-name:move-action;animation-duration:1.3s;-webkit-animation-duration:1.3s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite}
@keyframes move-action{0%{transform:translateY(0)}
50%{transform:translateY(8px)}
100%{transform:translateY(0)}
}
@-webkit-keyframes move-action{0%{-webkit-transform:translateY(0)}
50%{-webkit-transform:translateY(8%)}
100%{-webkit-transform:translateY(0)}
}
	 
.bounceIn{animation-name:bounceIn}
.bounceInDown{animation-name:bounceInDown}
@keyframes bounceInDown{60%,75%,90%,from,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}
0%{opacity:0;transform:translate3d(0,-3000px,0)}
60%{opacity:1;transform:translate3d(0,25px,0)}
75%{transform:translate3d(0,-10px,0)}
90%{transform:translate3d(0,5px,0)}
to{transform:none}
}

.uptodown{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-name:uptodown;animation-name:uptodown;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-direction:alternate;animation-direction:alternate}
@-webkit-keyframes uptodown{0%{transform:translate(0,-10px)}
100%{transform:translate(0,0)}
}
@keyframes uptodown{0%{transform:translate(0,-10px)}
100%{transform:translate(0,0)}
}

.brightness-play{-webkit-animation:brightness2-play 3s -.14s linear infinite;animation:brightness2-play 3s -.14s linear infinite}
@keyframes brightness2-play{0%{filter:brightness(100%)}
88%{filter:brightness(100%)}
91%{filter:brightness(160%)}
94%{filter:brightness(100%)}
97%{filter:brightness(160%)}
100%{filter:brightness(100%)}
}
.money{position:absolute;top:0;left:-400px;z-index:0; display:block;}
	
	
	
	
/*---手機板---*/	
		 
@media screen and (min-width: 768px) and (max-width: 1024px) { 	

    .top_btn { display: none;}
	
	.money{
		display:none;
	}
	
	#main .t2{
		position: absolute;
		top: 600px;
		left: -40px;
		box-sizing: border-box;
		z-index: 999;	
		}
		
	#main .t3{
		position: absolute;
		top: 600px;
		left: 500px;
	}		
}		 