@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
map :focus{outline:none;}

body{
	background:url(../images/index_bg.jpg) no-repeat;
	background-repeat:no-repeat;
	background-position:top center;
	background-attachment: scroll;
	margin: 0;
	}
img{display:block;border:0;}
ol,ul,li{list-style:none;}
.clearfix::after{clear:both;display:block;height:0;visibility:hidden;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}

/* --浮標籤------------------------------------- */
.top_btn{position:fixed;right:50px;top:0px;width:157px;height:493px;z-index:99;margin:0 auto; background-image:url(../images/tab_bg.png); padding-top: 110px; padding-left: 20px; background-repeat:no-repeat;}
.top_btn a{	-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-ms-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease;}
.top_btn a:hover img{ filter: brightness(108%);-webkit-transform:translateY(-1px);-moz-transform:translateY(-2px);-ms-transform:translateY(-2px);-o-transform:translateY(-2px);transform:translateY(-2px);}

/*header*/
#header{
	width: 100%;
    height: 62px;
   /* position: fixed;*/
    z-index: 10000;
    top: 0;
    left: 0;
    z-index: 1000 !important;
	background-color:#FFF;
    background-repeat: repeat-x;	
}

#header_wrap{
	margin:0 auto;
	max-width:1200px;
	height:40px;
	text-align:left;
	z-index:1000;	
}

#header .logo{
	width:170px;
	height:40px;
	border:0;
    float: left;
	margin:10px 0 5px 50px;
}

#header .nav{
	width:760px;
	position:absolute;
	height:40px;
	line-height:30px;
	margin-left:400px;
	margin-top:10px;
}

#header ul{
	margin:0;
}

#header li{
	width:253px;
	text-align: right;	
	display: inline-block;
	float:left;
	list-style:none;
}

#header li img:hover{
	-webkit-filter: brightness(140%);
	/* Firefox */ -webkit-transition:  0.5s; 
	/* Safari and Chrome */ -o-transition:  0.5s; 
	/* Opera */ transition:  0.5s;	
}

/*轉盤*/
#game-bg {
	width: 535px;
    height: 532px;
    margin: 0 auto;
    position: absolute;
    background: url(../images/game_bg.png);
    top: 262px;
    left: 324px;
}

#game-rotate{
	width: 474px;
    height: 474px;
    position: absolute;
    left: 30px;
    top: 33px;
	animation: 50s self-rotate infinite linear;
}
/*	@keyframes self-rotate {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(720deg);
			}
		}*/

#game-pointer01:hover ,#game-pointer02:hover , #game-pointer03:hover, #game-pointer04:hover{
	filter:drop-shadow(2px 2px 5px rgba(0,0,0,.5)) contrast(110%);
}

#game-pointer01{
	width: 210px;
    height: 220px;
    position: absolute;
	left: 165px;
    top: 155px;
	cursor: pointer;
	filter:drop-shadow(0px 0px 5px rgba(0,0,0,0)) contrast(100%);	
	display:block;
}


.handgif{
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: -110px;
    margin-left: 145px;
}

#game-pointer02{
	width: 210px;
    height: 220px;
    position: absolute;
	left: 165px;
    top: 155px;
	cursor: pointer;
	filter:drop-shadow(0px 0px 5px rgba(0,0,0,.5)) contrast(100%);	
	display:none;
}

#game-pointer03{
	width: 210px;
    height: 220px;
    position: absolute;
	left: 190px;
    top: 220px;
	cursor: pointer;
	background-image:url(../images/game_pointer03.png);
	filter:drop-shadow(0px 0px 5px rgba(0,0,0,.5)) contrast(100%);	
	display:none;
}

#game-pointer04{
	width: 210px;
    height: 220px;
    position: absolute;
	left: 190px;
    top: 220px;
	cursor: pointer;
	filter:drop-shadow(0px 0px 5px rgba(0,0,0,.5)) contrast(100%);		
	display:none;
}

#game-text{
    position: absolute;
    width: 50px;
    height: 50px;
    color: #f40000;
    font-size: 48px;
    font-family: Verdana, Geneva, sans-serif;
    left: 73px;
    top: 72px;
    text-align: center;
    font-weight: bold;
	letter-spacing:-0.1em;
}


/* --main 標題---------------------------------------------------------------------------- */
#main{ 
	width:1200px;
	height:800px;
	background: url(../images/kv_bg.jpg) no-repeat;	
   	margin:0 auto;
}
	   

.main-bg{
	width:1200px;
	height: 800px;	
	position: relative;	
	clear:both;
}

#main .logo{
	padding-left: 60px;
	padding-top: 10px;
}

#main #t1 img{
	position:absolute;
	top: 10px;
	left: 250px;
	z-index: 9;
}

#main #t2 img{
    top: 460px;
    margin-left: 66px;
	position: absolute;	
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;		
	z-index: 9;
}


#main #t3 img{
	position: absolute;
    top: 460px;
    margin-left: 327px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;		
	z-index: 9;
}	

#main #t2 img:hover , #t3 img:hover {
	filter: brightness(108%);
	-webkit-transform:translateY(-1px);
	-moz-transform:translateY(-2px);
	-ms-transform:translateY(-2px);
	-o-transform:translateY(-2px);
	transform:translateY(-2px);
}

#ad-banner{
    width: 1200px;
    height: 108px;
    display: block;
}	

#ad-banner img{
    width: 1200px;
    height: 108px;
    display: block;
    margin: 0 auto;
    top: 800px;
    position: absolute;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;	
}

	
#main #ad-banner img:hover{
	filter: brightness(108%);
	-webkit-transform:translateY(-1px);
	-moz-transform:translateY(-2px);
	-ms-transform:translateY(-2px);
	-o-transform:translateY(-2px);
	transform:translateY(-2px);
}

#content{
	width:1200px;
    margin:0 auto;
}

#content-tabs{
	width:1200px;
	height:900px;
	margin:0 auto;
	margin-top:20px;
}


#btn{
	width:1200px;
	height:115px;
	margin:0 auto;
	margin-top:50px;
	margin-bottom:20px;
}

#btn .btn_a img{
	position:absolute;
	margin-left:100px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;		
}

#btn .btn_a a:hover img ,.btn_b a:hover img ,.btn_c a:hover img{
	filter: brightness(108%);
	-webkit-transform:translateY(-1px);
	-moz-transform:translateY(-2px);
	-ms-transform:translateY(-2px);
	-o-transform:translateY(-2px);
	transform:translateY(-2px);		
}

#btn .btn_b img{
	position:absolute;
	margin-left:460px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;			
}


#btn .btn_c img{
	position:absolute;
	margin-left:820px;	
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;		
}




/* --footer---------------------------------------------------------------------------- */
		
#footer{
		background-color:#ff7ba6;
		width:100%;
		height:62px;
		}

#footer ul{
		width:1200px;
		height:62PX;
		margin:0 auto;
		}
		
#footer li {
		float:left;
	     }


#footer li a.f01 {
		background:url(../images/footer01.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f01:hover {
		background-color:#9b6fbd;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;				
		 }
		 
#footer li a.f02 {
		background:url(../images/footer02.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f02:hover {
		background-color:#9b6fbd;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		 }

#footer li a.f03 {
		background:url(../images/footer03.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f03:hover {
		background-color:#9b6fbd;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		 }
		 
#footer li a.f04 {
		background:url(../images/footer04.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f04:hover {
		background-color:#9b6fbd;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		 }
		 
#footer li a.f05 {
		background:url(../images/footer05.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f05:hover {
		background-color:#9b6fbd;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		 }
		 
@media screen and (min-width: 768px) and (max-width: 1024px) { 
.top_btn { display: none;}

#main{ 
	width:1200px;
	height:800px;
	background: url(../images/kv_bg.jpg) no-repeat;	
   	margin:0 auto;
	margin-top:62px;
}
	   

.main-bg{
	width:1200px;
	height: 800px;	
	position: relative;	
	clear:both;
}

/*header*/
#header{
	width: 100%;
    height: 62px;
	position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    z-index: 1000 !important;
	background-color:#FFF;
    background-repeat: repeat-x;	
}

#header_wrap{
	margin:0 auto;
	max-width:1200px;
	min-width:320px;
	height:40px;
	position:relative;
	text-align:left;
	z-index:1000;	
}

#header .logo{
	width:170px;
	height:40px;
	border:0;
    float: left;
	margin:10px 0 5px 50px;
}

#header .nav{
	height:40px;
	line-height:30px;
	float:right;
	margin-top:10px;
}

#header ul{
	margin:0;
}

#header li{
	width:253px;
	text-align: right;	
	display: inline-block;
	float:left;
	list-style:none;
}

#header li img:hover{
	-webkit-filter: brightness(140%);
	/* Firefox */ -webkit-transition:  0.5s; 
	/* Safari and Chrome */ -o-transition:  0.5s; 
	/* Opera */ transition:  0.5s;	
}
	
}		 
