@charset "utf-8";
/* CSS Document */


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
  
}

map *:focus{
outline:none;
}

body{
	background:url(images/index_bg.jpg) no-repeat;
	background-repeat:no-repeat;
	background-position:top center;
	background-attachment: scroll;
	background-color:#dcf0fd;
	margin: 0;
	}

img{ display:block; border:0;}

ol,ul,li{
 list-style:none;
}


.clearfix::after {
    clear: both;

    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
	display:inline-block;
    
}
html[xmlns] .clearfix {
    display: block;
}

/* --TAB按鈕------------------------------------- */

.top_btn{position: fixed; right:10px; top: 30px; width: 100px; height:280px; background: url(images/tab_bg.png) no-repeat; margin: 0 auto; z-index: 99; padding-top: 4px;}
.top_btn a img { padding-top: 9px;}
.top_btn a:hover img{
		-webkit-filter: brightness(110%);
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;		
}



/* --main 標題---------------------------------------------------------------------------- */

#main{ width:1200px;
       margin:0 auto;
	}
	   

#main .bg{
	width:1200px;
	height: 901px;
	background: url(images/kv.jpg) no-repeat;
	position: relative;	
	}

#main .logo{
    padding-left: 60px;
    padding-top: 10px;
	box-sizing:border-box;
	}

#main .t1{
	position:absolute;
    top: 60px;
    left: 303px;
	}

#main .t2{
    top: 52px;	
	box-sizing:border-box;
	}

#main .t3{
	position: absolute;
    top: 52px;
    margin-left: 894px;
	}	

#main .t4{
	position: absolute;
    top: 574px;
}	

.logo img:hover , .t2 img:hover , .t3 img:hover{
	-webkit-filter: brightness(115%);
	/* Firefox */ -webkit-transition:  0.3s; 
	/* Safari and Chrome */ -o-transition:  0.3s; 
	/* Opera */ transition:  0.3s;		
}	



#content{
	width:1200px;
    margin:0 auto;
}

	
#content_box01 {
	margin:0 auto;
	width:1200px;
}

#content_box01 ul{
	margin:0 auto;
	width:1200px;	
}

#content_box01 li{
	display:inline;
	float:left;

}

#content_box02{
	width:1200px;
	margin:0 auto;
	clear:both;
}

#content_box03{
	width:1200px;
	margin:0 auto;
	clear:both;
}

#content_box04{
	background-image:url(images/content_box04.jpg);
	width:1200px;
	height:258px;
	margin:0 auto;
	clear:both;
}
#btn{
	width:1200px;
	height:130px;
	margin:0 auto;
	margin-bottom:20px;
}

#btn .btn_a{
	position:absolute;
	margin-left:105px;
}

#btn .btn_a a:hover img ,.btn_b a:hover img ,.btn_c a:hover img{
	-webkit-filter: brightness(130%);		
}

#btn .btn_b{
	position:absolute;
	margin-left:450px;	
}


#btn .btn_c{
	position:absolute;
	margin-left:796px;	
}


.btn_d a{
	display:block;	
	position:absolute;
	z-index:999;
	width:315px;
	height:157px;
	margin-left: 50px;
    margin-top: 50px;
	background-image:url(images/btnc.png);
	text-indent:-9999px;	
}

.btn_d a:hover{ 	
	width:315px;
	height:157px;
	background-image:url(images/btnc_over.png);
	transition-duration: 0.3s;	
}

.btn_e a{
	display:block;	
	position:absolute;
	z-index:999;
	width:315px;
	height:157px;
	margin-left: 410px;
    margin-top: 50px;
	background-image:url(images/btnd.png);
	text-indent:-9999px;	
}

.btn_e a:hover{ 	
	width:315px;
	height:157px;
	background-image:url(images/btnd_over.png);
	transition-duration: 0.3s;	
}

.csr{
	width:200px;
	height:100px;
	display:block;	
	position:absolute;
	z-index:999;
    margin-left: 1010px;
    margin-top: 100px;	
}

.csr span{
	font-family:Verdana, Geneva, sans-serif;
	font-size:20px;
	color:#068895;
	line-height:42px;
}

	
/* --footer---------------------------------------------------------------------------- */
		

#footer{
		background-color:#068895;
		width:100%;
		height:60px;
		margin:0 auto;
		}

#footer ul{
		width:1200px;		
		height:60px;
		margin:0 auto;
		}
		
#footer li {
		float:left;
	 }

#footer li a.f01 {
		background:url(images/footer_01.jpg) no-repeat;
		width:240px;		
		height:60px;
		display:block;
	     }
		 
#footer li a.f01:hover {
	-webkit-filter: brightness(115%);
	/* Firefox */ -webkit-transition:  0.3s; 
	/* Safari and Chrome */ -o-transition:  0.3s; 
	/* Opera */ transition:  0.3s;		
		 }
		 
#footer li a.f02 {
		background:url(images/footer_02.jpg) no-repeat;
		width:240px;		
		height:60px;
		display:block;
	     }
		 
#footer li a.f02:hover {
	-webkit-filter: brightness(115%);
	/* Firefox */ -webkit-transition:  0.3s; 
	/* Safari and Chrome */ -o-transition:  0.3s; 
	/* Opera */ transition:  0.3s;	
		 }

#footer li a.f03 {
		background:url(images/footer_03.jpg) no-repeat;
		width:240px;		
		height:60px;
		display:block;
	     }
		 
#footer li a.f03:hover {
	-webkit-filter: brightness(115%);
	/* Firefox */ -webkit-transition:  0.3s; 
	/* Safari and Chrome */ -o-transition:  0.3s; 
	/* Opera */ transition:  0.3s;	
		 }
		 
#footer li a.f04 {
		background:url(images/footer_04.jpg) no-repeat;
		width:240px;		
		height:60px;
		display:block;
	     }
		 
#footer li a.f04:hover {
	-webkit-filter: brightness(115%);
	/* Firefox */ -webkit-transition:  0.3s; 
	/* Safari and Chrome */ -o-transition:  0.3s; 
	/* Opera */ transition:  0.3s;	
		 }
		 
#footer li a.f05 {
		background:url(images/footer_05.jpg) no-repeat;
		width:240px;		
		height:60px;
		display:block;
	     }
		 
#footer li a.f05:hover {
	-webkit-filter: brightness(115%);
	/* Firefox */ -webkit-transition:  0.3s; 
	/* Safari and Chrome */ -o-transition:  0.3s; 
	/* Opera */ transition:  0.3s;	
		 }
		 
@media screen and (min-width: 768px) and (max-width: 1024px) { 
    .top_btn { display: none;}
}		 