@charset "utf-8";
/* CSS Document */


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
  
}

map *:focus{
outline:none;
}

body{
	background:url(images/index_bg.jpg) no-repeat;
	background-repeat:no-repeat;
	background-position:top center;
	background-attachment: scroll;
	background-color:#dcf0fd;
	margin: 0;
	}

img{ display:block; border:0;}

ol,ul,li{
 list-style:none;
}


.clearfix::after {
    clear: both;

    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
	display:inline-block;
    
}
html[xmlns] .clearfix {
    display: block;
}

/* --TAB按鈕------------------------------------- */

.top_btn{position: fixed;right:30px;top: 50px;width: 166px;height:352px;background: url(images/tab_bg.png) no-repeat;margin: 0 auto;z-index: 99; padding-top:40px; padding-bottom:20px;}
.top_btn img { margin-left:20px; }
.top_btn a:hover img{
		-webkit-filter: brightness(120%);
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;		
}



/* --main 標題---------------------------------------------------------------------------- */

#main{ width:1000px;
       margin:0 auto;
	}
	   

#main .bg{
	width:1000px;
	height: 570px;
	background: url(images/kv_bg.jpg) no-repeat;
	position: relative;	
	}

#main .logo{
	padding-left: 60px;
	padding-top: 20px;
	box-sizing:border-box;
	}

#main .t1{
	position: absolute;
    top: 100px;
    left: 150px;
	}

#main .t2{
    padding-top: 185px;
    padding-left: 263px;
	box-sizing:border-box;
	}
	
#main .t3{
	position: absolute;
    top: 274px;
    margin-left: 713px;
	}	


#content{
	width:1000px;
    margin:0 auto;
}

	
.content_box01 {
	margin:0 auto;
	width:1000px;
}

.content_box01 ul{
	margin:0 auto;
	width:1000px;	
}

.content_box01 li{
	display:inline;
	float:left;

}

.content_box02{
	width:1000px;
	margin:0 auto;
	clear:both;
}

#btn{
	width:1000px;
	height:115px;
	margin:0 auto;
	margin-bottom:10px;
}

#btn .btn_a{
	position:absolute;
	margin-left:35px;
}

#btn .btn_a a:hover img ,.btn_b a:hover img ,.btn_c a:hover img{
	-webkit-filter: brightness(110%);
	/* Firefox */ -webkit-transition:  0.5s; 
	/* Safari and Chrome */ -o-transition:  0.5s; 
	/* Opera */ transition:  0.5s;			
}

#btn .btn_b{
	position:absolute;
	margin-left:363px;	
}


#btn .btn_c{
	position:absolute;
	margin-left:685px;	
}



/* --box01---------------------------------------------------------------------------- */
#main .box01 ul{
	
}

#main .box01 li{
	float: left;
}


/* --footer---------------------------------------------------------------------------- */
		
#footer{
		background-color:#00aa89;
		width:100%;
		height:62px;
		}

#footer ul{
		width:1000PX;
		height:62PX;
		margin:0 auto;
		}
		
#footer li {
		float:left;
	     }

#footer li a.f01 {
		background:url(images/footer01.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f01:hover {
		background-color:#00c8a1;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;				
		 }
		 
#footer li a.f02 {
		background:url(images/footer02.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f02:hover {
		background-color:#00c8a1;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		 }

#footer li a.f03 {
		background:url(images/footer03.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f03:hover {
		background-color:#00c8a1;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		 }
		 
#footer li a.f04 {
		background:url(images/footer04.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f04:hover {
		background-color:#00c8a1;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		 }
		 
#footer li a.f05 {
		background:url(images/footer05.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f05:hover {
		background-color:#00c8a1;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		 }
		 
@media screen and (min-width: 768px) and (max-width: 1024px) { 
    .top_btn { display: none;}
}		 