body {
	color: #313131;
	font-family:"Century Gothic", Arial, 'Microsoft JhengHei', "蘋果儷中黑", "儷黑 Pro", "新細明體", "sans-serif";;
	font-size: 13px !important;
	line-height: 18px; 
	background:#ffd101;
	/*background-image:url(../img/3c/bg.png);*/
	background-position:center;
}
a {
	color: #36c;
	outline:none;
	text-decoration: none;
}
a:hover {
	color: #313131;
	text-decoration: none;
}
#header_web{
	margin:0 auto;
	width:1050px;
	height:135px;
	display:block;
	background:#FFF;
}

#header_mobile{
	display:none;
}


/**/
.main { 
	width:1050px;	
	margin: 0 auto ;
	padding-bottom:100px;
	height:auto; 
	display:block;
	position:relative;
}
	


/*活動頁產生器*/
.prod_wrapper { position: relative; margin-top: 10px; width:1050px; margin:0 auto;}
.prod_container { position: relative; z-index: 100; }
.ProductList { width: 1050px; margin: auto; padding-bottom: 20px; }
.ProductList:after { content: ''; display: table; clear: both; }
.ProductList .item {float: left;width: 33%;margin-left: 0.1%;margin-right: 0.1%;text-align: center; position: relative;background: #fff;margin-bottom: 15px;}
.ProductList .item a { position: relative; display: block; }
.ProductList .ProductImg { width: 100%; height: 346px; overflow: hidden; margin: 0 auto; position: relative;}
.ProductList .ProductImg img { width: 100%; height: 100%; max-width: 100%; max-height: 100%; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; -webkit-transition-duration: 0.2s; transition-duration: 0.2s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.ProductList .item a:hover .ProductImg img, .ProductList .item a:focus .ProductImg img, .ProductList .item a:active .ProductImg img { -webkit-transform: scale(1.03); transform: scale(1.03); filter: brightness(110%) }
.ProductList .ProductDesc {
	height: 26px;
    overflow: hidden;
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
    padding: 0 5px;
    color: #fff;
    background-color: #000;}

.item .ProducPrice, .item .Event_Condition { color: #cf2653; height: 35px; padding: 3px 2px 15px 2px; }
.item .ProducPrice label { cursor: pointer }
.item .ProducPrice i em span { font-weight: 100; color: #747474; font-size: 13px; margin: 0 10px 0 0; }
.item .ProducPrice span, .item .Event_Condition i span { margin: 0 2px 0 2px; font-size: 34px; font-weight: 500; line-height: 30px;}

/*.ProductList li.item:nth-child(-n+4) { border: none; margin-top:80px;}*/

/*第一區塊*/
.ProductList li.item:nth-child(n+1)
{margin-top:50px; margin-top:50px\9 ;margin-bottom:2px; }

.ProductList li.item:nth-child(n+4),
.ProductList li.item:nth-child(n+5),
.ProductList li.item:nth-child(n+6)
{margin-top:220px; margin-top:220px\9 ;margin-bottom:2px; }


/*第2區塊*/
.ProductList li.item:nth-child(n+7),
.ProductList li.item:nth-child(n+8),
.ProductList li.item:nth-child(n+9)
{margin-top:60px; margin-top:60px\9 ;margin-bottom:2px; }


.ProductList li.item:nth-child(n+10),
.ProductList li.item:nth-child(n+11),
.ProductList li.item:nth-child(n+12)
{margin-top:210px; margin-top:210px\9 ;margin-bottom:2px; }

/*第3區塊*/
.ProductList li.item:nth-child(n+13),
.ProductList li.item:nth-child(n+14),
.ProductList li.item:nth-child(n+15)
{margin-top:60px; margin-top:60px\9 ;margin-bottom:2px; }

.ProductList li.item:nth-child(n+16),
.ProductList li.item:nth-child(n+17),
.ProductList li.item:nth-child(n+18)
{margin-top:210px; margin-top:210px\9 ;margin-bottom:2px; }

/*第4區塊*/
.ProductList li.item:nth-child(n+19),
.ProductList li.item:nth-child(n+20),
.ProductList li.item:nth-child(n+21)
{margin-top:60px; margin-top:60px\9 ;margin-bottom:2px; }

.ProductList li.item:nth-child(n+22),
.ProductList li.item:nth-child(n+23),
.ProductList li.item:nth-child(n+24)
{margin-top:210px; margin-top:210px\9 ;margin-bottom:2px; }

/*第5區塊*/
.ProductList li.item:nth-child(n+25),
.ProductList li.item:nth-child(n+26),
.ProductList li.item:nth-child(n+27)
{margin-top:60px; margin-top:60px\9 ;margin-bottom:2px; }

.ProductList li.item:nth-child(n+28),
.ProductList li.item:nth-child(n+29),
.ProductList li.item:nth-child(n+30)
{margin-top:210px; margin-top:210px\9 ;margin-bottom:2px; }

/*第6區塊*/
.ProductList li.item:nth-child(n+31),
.ProductList li.item:nth-child(n+32),
.ProductList li.item:nth-child(n+33)
{margin-top:60px; margin-top:60px\9 ;margin-bottom:2px; }


.ProductList li.item:nth-child(n+34),
.ProductList li.item:nth-child(n+35),
.ProductList li.item:nth-child(n+36)
{margin-top:210px; margin-top:210px\9 ;margin-bottom:2px; }

/*第7區塊*/
.ProductList li.item:nth-child(n+37),
.ProductList li.item:nth-child(n+38),
.ProductList li.item:nth-child(n+39)
{margin-top:60px; margin-top:60px\9 ;margin-bottom:2px; }


.ProductList li.item:nth-child(n+40),
.ProductList li.item:nth-child(n+41),
.ProductList li.item:nth-child(n+42)
{margin-top:210px; margin-top:210px\9 ;margin-bottom:2px; }

/*第8區塊*/

.ProductList li.item:nth-child(n+43),
.ProductList li.item:nth-child(n+44),
.ProductList li.item:nth-child(n+45)
{margin-top:210px; margin-top:210px\9 ;margin-bottom:2px; }


.ProductList li.item:nth-child(n+46)
{margin-top:50px; margin-top:50px\9 ;margin-bottom:2px; }

.ProductList li.item:nth-child(n+49)
{margin-top:185px; margin-top:185px\9 ;margin-bottom:2px; }

.ProductList li.item:nth-child(n+52)
{margin-top:50px; margin-top:50px\9 ;margin-bottom:2px; }



/*第7區塊*/
.ProductList li.item:nth-child(n+55)
{margin-top:220px; margin-top:220px\9 ;margin-bottom:2px; }

.ProductList li.item:nth-child(n+58)
{margin-top:50px; margin-top:50px\9 ;margin-bottom:2px; }

.ProductList li.item:nth-child(n+61)
{margin-top:50px; margin-top:50px\9 ;margin-bottom:2px; }


/*第8區塊*/
.ProductList li.item:nth-child(n+64)
{margin-top:200px; margin-top:200px\9 ;margin-bottom:2px; }

.ProductList li.item:nth-child(n+67)
{margin-top:50px; margin-top:50px\9 ;margin-bottom:2px; }

.ProductList li.item:nth-child(n+70)
{margin-top:50px; margin-top:50px\9 ;margin-bottom:2px; }


/*商品背景*/
.ProductList li.item a {display: block; background-color:#FFF; padding:10px 0px; }
/*.ProductList li.item a:hover { background-color:#FFF;}
.ProductList li.item a:hover img{opacity: 1;}*/

.ProductList li.item_0 a , .ProductList li.item_1 a , .ProductList li.item_2 a {display: block; background-color:transparent; padding:10px 0px; }
.ProductList li.item_0 a:hover , .ProductList li.item_1 a:hover , .ProductList li.item_2 a:hover { bbackground-color:transparent;}

.ProductList li.item_2 { }
.ProductList li:odd {}
.ProductList li:even {}

.item .ProductImg { padding:5px; }
.item .ProductImg img {
	height: auto;
	width: 90%;
	border:0px;`
	height:270px;
}
.item .ProductDesc {
    color: #ffffff;
    height: 26px;
    overflow: hidden;
    padding-top: 0px;
    line-height: 26px;
    font-size: 12px;
    background-color: #000;
    background-position: left top;
    background-repeat: no-repeat;
    font-weight: bold;
    margin-bottom: 3px;
    padding: 0 5px;
}

.item .ProductName {
	color: #1b0f00;
    height: 40px;
    overflow: hidden;
    padding-top: 1px;
    line-height: 18pt;
    font-size: 18px;
    text-align: center;
    padding: 0 20px 0;
	line-height:22px;
}
.item .ProducPrice, .item .Event_Condition {
	color: #cf2653;
	font-family:"Century Gothic";
	margin-top:9px;
}
.item .ProducPrice i {
	font-style: normal;
	margin: 0 3px 10px 0;
}
.item .ProducPrice i em {
	font-style: normal;		color: #747474;
	text-decoration: line-through;
}
.item .ProducPrice i em span {
	font-weight:100;
	color:#747474;
	font-size: 13px;
	line-height: 1.2;
	line-height:1.4 \9;
	margin: 0 10px 0 0;
}
.item .ProducPrice span, .item .Event_Condition i span {
	color: #cf2653;
	line-height:38px;
	margin: 0 5px 0 5px;
	vertical-align: text-bottom;
	vertical-align: bottom \9;
	font-size:34px; 
	padding-bottom:5px;
	line-height:30px \9;
	font-weight:100;
}
.item .ProducPrice b, .item .Event_Condition b {
	background: url(../images/icon_buy.png) left bottom no-repeat;
	display: inline-block;
	vertical-align: text-bottom;
	width:40px;
	height:30px;
	vertical-align: text-bottom;
}
.item .Event_Condition {}
.item .Event_Condition i {
	font-style: normal;
	margin: 0 3px;
	line-height: 22px;
}
.item .Event_Condition i span { }
.item .Event_Condition b {}
#ProductList{ display:none;}
.pro_temp {}

.gotop{
	background: url(http://m.payeasy.com.tw/Static/mobile/img/3c/gotop.png) no-repeat;
    bottom: 60px;
    cursor: pointer;
    display: none;
    height: 36px;
    position: fixed;
    right: 10px;
    width: 48px;
	bottom:50px;
    z-index: 900;
}
.gotop a{ display:block; width:48px; height:36px;}

header, footer{ display:none;}
.top_m{ display:none;}
.break_m{ display:none;}
.time_m{ display:none;}
.am100_m{ display:none;}



/*=======================================頁籤==========================================*/

#nav{
	margin:0 auto;
	width:1050px;
}

#nav ul {
	width:1050px; 
	height:80px;
}

#nav li {
	float:left;
	list-style:none;
}

#nav li.nav0{
	display:block;
	background-image:url(../images/nav.jpg); 
	width:253px; 
	height:80px;
	text-indent:-9999px;
}

#nav li.nav0 a{
	display:block;
	background-image:url(../images/nav.jpg); 
	width:253px; 
	height:80px;
	text-indent:-9999px;
}

#nav li.nav1{
	display:block;
	background-image:url(../3c/nav.jpg); 
	width:245px; 
	height:80px;
	text-indent:-9999px;
	background-position:-253px;
}

#nav li.nav1 a{
	display:block;
	background-image:url(../images/nav.jpg); 
	width:245px; 
	height:80px;
	text-indent:-9999px;
	background-position:-253px;
}

#nav li.nav2{
	display:block;
	background-image:url(../images/nav.jpg); 
	width:244px; 
	height:80px;
	text-indent:-9999px;
	background-position:-497px;
}

#nav li.nav2 a{
	display:block;
	background-image:url(../images/nav.jpg); 
	width:244px; 
	height:80px;
	text-indent:-9999px;
	background-position:-497px;
}

#nav li.nav3{
	display:block;
	background-image:url(../images/nav.jpg); 
	width:258px; 
	height:80px;
	text-indent:-9999px;
	background-position:-741px;
}

#nav li.nav3 a{
	display:block;
	background-image:url(../images/nav.jpg); 
	width:258px; 
	height:80px;
	text-indent:-9999px;
	background-position:-741px;
}

#nav li.nav4{
	display:block;
	background-image:url(../images/nav.jpg); 
	width:250px; 
	height:80px;
	text-indent:-9999px;
	background-position:-800px;
}

#nav li.nav4 a{
	display:block;
	background-image:url(../images/nav.jpg); 
	width:250px; 
	height:80px;
	text-indent:-9999px;
	background-position:-800px;
}

#nav li.nav5{
	display:block;
	background-image:url(../images/nav.jpg); 
	width:250px; 
	height:80px;
	text-indent:-9999px;
	background-position:-833px;
}

#nav li.nav5 a{
	display:block;
	background-image:url(../images/nav.jpg); 
	width:250px; 
	height:80px;
	text-indent:-9999px;
	background-position:-833px;
}




#nav li.nav0 a:hover,#nav li.nav1 a:hover,#nav li.nav2 a:hover,#nav li.nav3 a:hover,#nav li.nav4 a:hover,#nav li.nav5 a:hover,#nav li.nav6 a:hover,#nav li.nav7 a:hover,#nav li.nav8 a:hover{ background-image:url(../images/nav_hover.jpg);}


/*宮格背景*/
#hotsale{
    width: 1050px;
    height: 594px;
    background-image: url(../images/hotsale_bg.jpg);
    background-repeat: no-repeat;
    position: absolute;
    clear: both;
	top:20px;
	z-index:-999;
}

/*=======================================各分類標題==========================================*/

.title_more{
    width: 120px;
    height: 39px;
    line-height: 88px;
    float: right;
    vertical-align: middle;
	margin-top: 20px;
    padding-right: 20px;
}

#title01 {
    width: 1050px;
    height: 88px;
    background-image: url(../images/title.jpg);
    background-repeat: no-repeat;
    color: #FFF;
	position: absolute;
	top:650px;
}

#title01_word{
	width: 400px;
    height: 85px;
    display: inline-block;
    float: left;
    font-family: 敺株��迤暺煾��, "Microsoft JhengHei", Helvetica;
    text-align: center;
    font-size: 44px;
    height: 85px;
    line-height: 85px;
    margin: 0 auto;
    margin-left: 290px;
	clear:both;	
}


#title02 {
    width: 1050px;
    height: 88px;
    background-image: url(../images/title.jpg);
    background-repeat: no-repeat;
    color: #FFF;
	position: absolute;
	top:1680px;
}

#title02_word{
	width: 400px;
    height: 85px;
    display: inline-block;
    float: left;
    font-family: 敺株��迤暺煾��, "Microsoft JhengHei", Helvetica;
    text-align: center;
    font-size: 44px;
    height: 85px;
    line-height: 85px;
    margin: 0 auto;
    margin-left: 290px;
	clear:both;	
}

#title03{
    width: 1050px;
    height: 88px;
    background-image: url(../images/title.jpg);
    background-repeat: no-repeat;
    color: #FFF;
	position: absolute;
	top:2720px;
}

#title03_word{
	width: 400px;
    height: 85px;
    display: inline-block;
    float: left;
    font-family: 敺株��迤暺煾��, "Microsoft JhengHei", Helvetica;
    text-align: center;
    font-size: 44px;
    height: 85px;
    line-height: 85px;
    margin: 0 auto;
    margin-left: 290px;
	clear:both;	
}

#title04{
    width: 1050px;
    height: 88px;
    background-image: url(../images/title.jpg);
    background-repeat: no-repeat;
    color: #FFF;
	position: absolute;
	top:3750px;
}

#title04_word{
	width: 400px;
    height: 85px;
    display: inline-block;
    float: left;
    font-family: 敺株��迤暺煾��, "Microsoft JhengHei", Helvetica;
    text-align: center;
    font-size: 44px;
    height: 85px;
    line-height: 85px;
    margin: 0 auto;
    margin-left: 290px;
	clear:both;	
}

/*=======================================各分類背景==========================================*/

.prod_bg00{
    width: 1050px;
    height: 900px;
    /* background-image: url(../images/prod_bg00.jpg); */
    background-repeat: no-repeat;
    position: absolute;
	z-index:-99;
    background-color: #626262;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 630px;
}

.prod_bg01{
	width: 1050px;
	height:900px;
	background-repeat:no-repeat;
	position:absolute;
    background-color: #626262;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:1660px;
	z-index: -888;	
}

.prod_bg02{
	width: 1050px;
	height:900px;
	background-repeat:no-repeat;
	position:absolute;
    background-color: #626262;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:2700px;
	z-index: -888;	
}

.prod_bg03{
	width: 1050px;
	height:900px;
	background-repeat:no-repeat;
	position:absolute;
    background-color: #626262;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:3730px;
	z-index: -888;		
}


.prod_bg04{
	width: 1050px;
	height:900px;
	background-repeat:no-repeat;
	position:absolute;
    background-color: #626262;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:4000px;
	z-index: -888;	
}


.prod_bg05{
	width: 1050px;
	height:900px;
	background-repeat:no-repeat;
	position:absolute;
    background-color: #626262;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:5000px;
	z-index: -888;		
}


.prod_bg06{
	width: 1050px;
	height:900px;
	background-repeat:no-repeat;
	position:absolute;
    background-color: #626262;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:6000px;

}

.prod_bg07{
	width: 1050px;
	height:900px;
	background-repeat:no-repeat;
	position:absolute;
    background-color: #626262;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:7000px;

}

.BestMark {
	width:100px;
	height:100px;	
	position: absolute;	
	background-image:url(../images/hotsale_icon.png);	
    background-repeat: no-repeat;	
	z-index:99999;
	float:right;
}

.hotsale_icon01{
	width:100px;
	height:100px;
	background-image:url(../images/hotsale_icon.png);
    background-repeat: no-repeat;
    color: #FFF;
	position: absolute;
    top: 138px;
    left: 20px;
	z-index:99999;
}

.hotsale_icon01 span{ 
    width: 50px;
    height: 70px;
    color: #FFF;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    display: block;
    margin-left: 13px;
    font-family: '微軟正黑體';
    font-weight: bold;
    padding-top: 5px;
}

.hotsale_icon02{
	width:70px;
	height:53px;
	background-image:url(../images/hotsale_icon.png);
    background-repeat: no-repeat;
    color: #FFF;
	position: absolute;
    top: 138px;
    left: 350px;
	z-index:99999;
}

.hotsale_icon02 span{ 
    width: 50px;
    height: 70px;
    color: #FFF;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    display: block;
    margin-left: 13px;
    font-family: '微軟正黑體';
    font-weight: bold;
    padding-top: 5px;
}

.hotsale_icon03{
	width:70px;
	height:53px;
	background-image:url(../images/hotsale_icon.png);
    background-repeat: no-repeat;
    color: #FFF;
	position: absolute;
    top: 138px;
    left: 680px;
	z-index:99999;
}

.hotsale_icon03 span{ 
    width: 50px;
    height: 70px;
    color: #FFF;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    display: block;
    margin-left: 13px;
    font-family: '微軟正黑體';
    font-weight: bold;
    padding-top: 5px;
}



*/
/***********************************************************************************************************************************************************************************/
/*---行動版---*/
@media screen and (max-width: 767px) {
body{
	background-color:#FFF;
}
/**/
#header_web{
	width:100%;
	display:none;		
}

#header_mobile{
	width:100%;
	height:50px;
	display:block;
}


.main {
	width:100%;
	margin: 0 auto ;
	height:auto; 
	display:block;
	margin-bottom:10px;
	padding-bottom:0px;
}



/*活動頁產生器*/
.ProductList{ 
	width:100%;
	margin-left:0px;
	margin-bottom:100px;
	padding-left:0px;

}
.ProductList li.item {
	float: left;
    margin:0px;
    padding: 0.5%;
    text-align: center;
    width: 49%;
	height:auto;
    /*background: #fff;*/
    
}



.ProductList li.item:nth-child(n+1)
{margin-top:0px; margin-bottom:0px; background:#FFF; border-bottom:1px dotted #999; margin-bottom:10px; padding-bottom:10px;}


.ProductList li.item:nth-child(n+4),
.ProductList li.item:nth-child(n+5),
.ProductList li.item:nth-child(n+6)
{margin-top:0px; margin-bottom:0px; border:none;}


.ProductList li.item:nth-child(n+7),
.ProductList li.item:nth-child(n+8),
.ProductList li.item:nth-child(n+9)
{margin-top:0px; margin-bottom:0px;border:none;}

.ProductList li.item:nth-child(n+10),
.ProductList li.item:nth-child(n+11),
.ProductList li.item:nth-child(n+12)
{margin-top:0px; margin-bottom:0px;border:none;}

.ProductList li.item:nth-child(n+13),
.ProductList li.item:nth-child(n+14),
.ProductList li.item:nth-child(n+15)
{margin-top:0px; margin-bottom:0px;border:none;}


.ProductList li.item:nth-child(n+16),
.ProductList li.item:nth-child(n+17),
.ProductList li.item:nth-child(n+18)
{margin-top:0px; margin-bottom:0px;border:none;}

.ProductList li.item:nth-child(n+19),
.ProductList li.item:nth-child(n+20),
.ProductList li.item:nth-child(n+21)
{margin-top:0px; margin-bottom:0px;border:none;}


.ProductList li.item:nth-child(n+22),
.ProductList li.item:nth-child(n+23),
.ProductList li.item:nth-child(n+24)
{margin-top:0px; margin-bottom:0px;border:none;}

.ProductList li.item:nth-child(n+25),
.ProductList li.item:nth-child(n+26),
.ProductList li.item:nth-child(n+27)
{margin-top:0px; margin-bottom:0px;border:none;}


.ProductList li.item:nth-child(n+28),
.ProductList li.item:nth-child(n+29),
.ProductList li.item:nth-child(n+30)
{margin-top:0px; margin-bottom:0px;border:none;}

.ProductList li.item:nth-child(n+31),
.ProductList li.item:nth-child(n+32),
.ProductList li.item:nth-child(n+33)
{margin-top:0px; margin-bottom:0px;border:none;}


.ProductList li.item:nth-child(n+34),
.ProductList li.item:nth-child(n+35),
.ProductList li.item:nth-child(n+36)
{margin-top:0px; margin-bottom:0px;border:none;}

.ProductList li.item:nth-child(n+37),
.ProductList li.item:nth-child(n+38),
.ProductList li.item:nth-child(n+39)
{margin-top:0px; margin-bottom:0px;border:none;}


.ProductList li.item:nth-child(n+40),
.ProductList li.item:nth-child(n+41),
.ProductList li.item:nth-child(n+42)
{margin-top:0px; margin-bottom:0px;border:none;}

.ProductList li.item:nth-child(n+43),
.ProductList li.item:nth-child(n+44),
.ProductList li.item:nth-child(n+45)
{margin-top:0px; margin-bottom:0px;border:none;}



/*商品背景*/
.ProductList li.item a {display: block; background-color:#FFF; padding:0px 0px; /*border: 1px solid #CCC;  border-radius:8px; */ padding-bottom:20px;}
.ProductList li.item a:hover { background-color:#FFF;/* border: 1px solid #E4E4E4; 	box-shadow: 0 0 2px #CBCBCB;*/}
.ProductList li.item a:hover img{opacity: 1;}
.ProductList li.item_0 { }
.ProductList li.item_2 { }
.ProductList li:odd {
}
.ProductList li:even {
}

.ProductList .ProductImg { 
	width: 100%; 
	height: 346px; 
	overflow: hidden; 
	margin: 0 auto; 
	position: relative;
}

.ProductList .ProductImg img { 
	width: 100%; 
	height: 100%; 
	max-width: 100%; 
	max-height: 100%; 
	position: absolute; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0; 
	margin: auto; 
	-webkit-transition-duration: 0.2s; 
	transition-duration: 0.2s; 
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out; 
}

.item .ProductDesc {
    overflow: inherit;
    color: #fff;
    height: 30px;
    margin: 5px 0 3px 0px;
    font-size: 13px;
	padding: 0px 10px;	
}

.item .ProductName {
    color: #000;
    height: 36px; 
    overflow: hidden;
    padding: 0 10px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    word-break: break-all;	
}
.item .ProducPrice, .item .Event_Condition {
	color: #555;
	font-family:"Century Gothic";
	margin-top:9px;
}
.item .ProducPrice i {
	font-style: normal;
	margin: 0 3px;
}
.item .ProducPrice i em {
	/*display:none;*/

	font-style: normal;	color:#555;
	text-decoration: line-through;
}
.item .ProducPrice i em span {
    font-weight: 100;
    color: #555;
    font-size: 12px;
    line-height: 1.2;
    line-height: 1.4 \9;
    margin: 0 5px 0 0;
    /* display: none; */
}
.item .ProducPrice span, .item .Event_Condition i span {
	color:#F03;
	margin: 0 5px 0 3px;
	vertical-align: text-bottom;
	vertical-align: bottom \9;
	font-size:30px;
	font-weight:bold;
	line-height:25px \9;
	line-height:25px;
	font-weight:bold;
}
.item .ProducPrice b, .item .Event_Condition b {
	background: url(../img/3c/icon_buy.png) left bottom no-repeat;
	display: inline-block;
	vertical-align: text-bottom;
	width:40px;
	height:30px;
	vertical-align: text-bottom;
}
.item .Event_Condition {}
.item .Event_Condition i {
	font-style: normal;
	margin: 0 3px;
	line-height: 22px;
}
.item .Event_Condition i span { }
.item .Event_Condition b {}
#ProductList{ display:none;}
.pro_temp {}



.gotop{
	background: url(http://m.payeasy.com.tw/Static/mobile/img/3c/gotop.png) no-repeat;
    bottom: 60px;
    cursor: pointer;
    display: none;
    height: 36px;
    position: fixed;
    right: 10px;
    width: 48px;
	bottom:50px;
    z-index: 900;
}
.gotop a{ display:block; width:48px; height:36px;}

header, footer{ display:none;}
.top_m{ display:none;}
.break_m{ display:none;}
.time_m{ display:none;}
.am100_m{ display:none;}



/* --------------------- MENU---------------------- */

#nav{
	margin:0 auto;
	width:100%;
	display:none;

}

#nav ul {
	width:1050px; 
	height:80px;
}

#nav li {
	float:left;
	list-style:none;
}

#nav li.nav0{
	display:block;
	background-image:url(../img/3c/nav.jpg); 
	width:200px; 
	height:80px;
	text-indent:-9999px;
}

#nav li.nav0 a{
	display:block;
	background-image:url(../img/3c/nav.jpg); 
	width:200px; 
	height:80px;
	text-indent:-9999px;
}

#nav li.nav1{
	display:block;
	background-image:url(../img/3c/nav.jpg); 
	width:200px;  
	height:80px;
	text-indent:-9999px;
	background-position:-200px;
}

#nav li.nav1 a{
	display:block;
	background-image:url(../img/3c/nav.jpg); 
	width:200px;  
	height:80px;
	text-indent:-9999px;
	background-position:-200px;
}

#nav li.nav2{
	display:block;
	background-image:url(../img/3c/nav.jpg); 
	width:200px; 
	height:80px;
	text-indent:-9999px;
	background-position:-400px;
}

#nav li.nav2 a{
	display:block;
	background-image:url(../img/3c/nav.jpg); 
	width:200px; 
	height:80px;
	text-indent:-9999px;
	background-position:-400px;
}

#nav li.nav3{
	display:block;
	background-image:url(../img/3c/nav.jpg); 
	width:200px; 
	height:80px;
	text-indent:-9999px;
	background-position:-600px;
}

#nav li.nav3 a{
	display:block;
	background-image:url(../img/3c/nav.jpg); 
	width:200px;   
	height:80px;
	text-indent:-9999px;
	background-position:-600px;
}

#nav li.nav4{
	display:block;
	background-image:url(../img/3c/nav.jpg); 
	width:200px; 
	height:80px;
	text-indent:-9999px;
	background-position:-800px;
}

#nav li.nav4 a{
	display:block;
	background-image:url(../img/3c/nav.jpg); 
	width:200px; 
	height:80px;
	text-indent:-9999px;
	background-position:-800px;
}



#nav li.nav0 a:hover,#nav li.nav1 a:hover,#nav li.nav2 a:hover,#nav li.nav3 a:hover,#nav li.nav4 a:hover,#nav li.nav5 a:hover,#nav li.nav6 a:hover,#nav li.nav7 a:hover,#nav li.nav8 a:hover{ background-image:url(../img/3c/nav_hover.png);}



/*宮格背景*/
.prod_bg00{
	width: 1050px;
	height:880px;
	/*background-image:url(../images/prod_bg00.jpg);*/
	background-repeat:no-repeat;
	position:absolute;
	background-color:#abc0cc;
	padding-top:10px;
	padding-bottom:10px;	
		display:none;
}

.prod_bg01{
	width: 1050px;
	height:1710px;
	background-repeat:no-repeat;
	position:absolute;
	background-color:#abc0cc;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:1050px;	display:none;
	
}

.prod_bg02{
	width: 1050px;
	height:1790px;
	background-repeat:no-repeat;
	position:absolute;
	background-color:#abc0cc;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:3230px;
	display:none;
}

.prod_bg03{
	width: 1050px;
	height:1790px;
	background-repeat:no-repeat;
	position:absolute;
	background-color:#abc0cc;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:5100px;
		display:none;
}


.prod_bg04{
	width: 1050px;
	height:950px;
	background-repeat:no-repeat;
	position:absolute;
	background-color:#abc0cc;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:3900px;
	display:none;
}


.prod_bg05{
	width: 1050px;
	height:950px;
	background-repeat:no-repeat;
	position:absolute;
	background-color:#abc0cc;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:4800px;
		display:none;
}


.prod_bg06{
	width: 1050px;
	height:880px;
	background-repeat:no-repeat;
	position:absolute;
	background-color:#abc0cc;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:5760px;
	display:none;
}


.prod_bg07{display:none;
	
}
.prod_bg08{display:none;
	
}


/*title*/

#title01 {
	width: 980px;    
	height: 73px;
    display: block;
    top: 60px;
    z-index: 9999;
	margin-top:20px;
		display:none;
}

#title02 {
	width: 980px;
	height: 73px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 1001px;
    z-index: 9999;
    color: #fff8d5;
    font: bold 40px 微軟正黑體, "Microsoft JhengHei", Helvetica;
	line-height:40px;
		display:none;
}

#title03 {
	width: 980px;
	height: 73px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 3290px;
    z-index: 9999;
    color: #fff8d5;
    font: bold 40px 微軟正黑體, "Microsoft JhengHei", Helvetica;
	line-height:40px;
		display:none;
}


#title04 {
	width: 980px;
	height: 73px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 5140px;
    z-index: 9999;
    color: #fff8d5;
    font: bold 40px 微軟正黑體, "Microsoft JhengHei", Helvetica;
	line-height:40px;
		display:none;
}


#title05 {
	width: 980px;
	height: 73px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 3970px;
    z-index: 9999;
    color: #fff8d5;
    font: bold 40px 微軟正黑體, "Microsoft JhengHei", Helvetica;
	line-height:40px;
		display:none;
}


#title06 {
	width: 980px;
	height: 73px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 4800px;
    z-index: 9999;
    color: #fff8d5;
    font: bold 40px 微軟正黑體, "Microsoft JhengHei", Helvetica;
	line-height:40px;
		display:none;
}

#title07 {
	width: 980px;
	height: 73px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 5760px;
    z-index: 9999;
    color: #fff8d5;
    font: bold 40px 微軟正黑體, "Microsoft JhengHei", Helvetica;
	line-height:40px;
		display:none;
}


#title08 {display:none;}

.ProductList li.item_0 , .ProductList li.item_1 ,.ProductList li.item_2 {
	float: left;
    margin: 0px;
    padding: 0.5%;
    text-align: center;
    width: 100%;
    height: auto;
    /* background: #fff; */
}

.item_0 .ProducPrice, .item_0 .Event_Condition ,
.item_0 .ProducPrice, .item_1 .Event_Condition,
.item_0 .ProducPrice, .item_2 .Event_Condition  {
	color: #555;
    font-family: "Century Gothic";
    margin-top: 10%;
}

.item_0 .ProductImg img , 
.item_1 .ProductImg img , 
.item_2 .ProductImg img {
    height: auto;
    width: 50%;
    margin: 0 auto;
    float: left;
    border: 1px solid #d5d5d5;
    padding-bottom: 10px;
}

.item_0 .ProductName,
.item_1 .ProductName,
.item_2 .ProductName{
    color: #000;
    height: auto;
    height: 80px;
    overflow: hidden;
    padding: 0 10px;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
	word-break: break-all;	
}

.item_0 .ProducPrice, .item_0 .Event_Condition,
.item_1 .ProducPrice, .item_1 .Event_Condition,
.item_2 .ProducPrice, .item_2 .Event_Condition{
	text-align:right;
	padding-right:10px;
}

.item_0 .ProducPrice span, .item_0 .Event_Condition i span,
.item_1 .ProducPrice span, .item_1 .Event_Condition i span,
.item_2 .ProducPrice span, .item_2 .Event_Condition i span{
	color:#F03;
	font-size:32px;
}

#hotsale{
    width: 100%;
    background-color: #fff;
	top:0px;
	z-index:-999;
	background-image:none;
}

.hotsale_icon01{
	display:none;
}

.hotsale_icon01 span{ 
	display:none;
}

.hotsale_icon02{
	display:none;
}

.hotsale_icon02 span{ 
	display:none;
}

.hotsale_icon03{
	display:none;
}

.hotsale_icon03 span{ 
	display:none;
}

